[submodule "src/dojo"]
	path = src/dojo
	url = https://github.com/dojo/dojo.git
[submodule "src/plato"]
	path = src/plato
	url = https://github.com/es-analysis/plato
[submodule "src/plato-ainthek"]
	path = src/plato-ainthek
	url = https://github.com/ainthek/plato.git
[submodule "src/async"]
	path = src/async
	url = https://github.com/caolan/async.git
[submodule "src/request"]
	path = src/request
	url = https://github.com/request/request.git
[submodule "src/poly"]
	path = src/poly
	url = https://github.com/cujojs/poly
[submodule "src/ampersand-state"]
	path = src/ampersand-state
	url = https://github.com/AmpersandJS/ampersand-state.git
[submodule "src/ampersand-view"]
	path = src/ampersand-view
	url = https://github.com/AmpersandJS/ampersand-view.git
[submodule "src/ampersand"]
	path = src/ampersand
	url = https://github.com/AmpersandJS/ampersand.git
[submodule "src/msgs"]
	path = src/msgs
	url = https://github.com/cujojs/msgs
[submodule "src/json"]
	path = src/json
	url = https://github.com/trentm/json.git
[submodule "src/JSON-js"]
	path = src/JSON-js
	url = https://github.com/douglascrockford/JSON-js
[submodule "src/fixmyjs"]
	path = src/fixmyjs
	url = https://github.com/jshint/fixmyjs.git
